html,body {
      margin: 0;
}

.header{
      display: flex;
      background-color: rgb(163, 209, 209);
    justify-content: center;
    width: 100%;
    height: 60px;
}
.nav-items{
      display: flex;
      list-style: none;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      margin: 0;
      width: 80%;
      font-size: large;
      font-weight: bold;    
} 
.nav-items a {
      text-decoration: none;
      color: black;
}

.nav-items a:hover ,
.nav-items a:active{
      color: white;
}